version: '3.8'

services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin1234
      POSTGRES_DB: charges_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d   # ← AQUÍ está la clave
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d charges_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: